body {
  background-color: white;
}

h1{ font-family: "shirkhand", cursive;
  text-align: center;
 
}



.main  {
  text-align: center;
  
}
















footer {
  display: block;
  background-color: #353535;
  margin: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
  padding: 25px;
  color: white;
  text-align: center;

}

footer a {
  color: white;
}
footer ul {
  list-style-type: none;
}

