* {
  box-sizing: border-box;
  list-style-type: none;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
}

a {
  text-decoration: none;
  color: inherit;
}

ul {
  padding-left: 0;
}

h1, h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
}

h2 {
  font-family: "Roboto", sans-serif;
  font-size: 1.7em;
  font-weight: 500;
}

h3 {
  font-family: "Roboto", sans-serif;
  font-size: 1.1em;
  font-weight: 500;
}

.badge {
  font-weight: 500;
}

.header {
  width: 100%;
}
.header__title {
  text-align: center;
}
.header > .return-icon {
  position: absolute;
  left: 20px;
  font-size: 1.5em;
}

footer {
  display: flex;
  flex-direction: column;
  width: 100%;
  background-color: #353535;
}
footer > h3, footer > h4 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  margin: 20px 0 0 5%;
  color: #FFF;
}
footer > ul {
  display: flex;
  flex-direction: column;
  margin-left: 5%;
}
footer > ul > li {
  margin-bottom: 0;
}
footer > ul > li > a {
  display: flex;
  flex-direction: row;
  align-items: center;
  width: fit-content;
}
footer > ul > li > a:hover > p {
  transition: all 300ms;
  color: #c9abee;
}
footer > ul > li > a:hover > i {
  transition: all 300ms;
  color: #c9abee;
}
footer > ul > li > a > i {
  margin: 0 10px 0 0;
  color: #FFF;
}
footer > ul > li > a > .fa-handshake-angle {
  font-size: 0.7em;
}
footer > ul > li > a > p {
  margin: 5px 0;
  color: #FFF;
}

.btn {
  border: none;
  border-radius: 2em;
  color: #FFF;
  background: linear-gradient(349deg, rgb(165, 105, 237) 0%, rgb(255, 121, 218) 100%);
  box-shadow: 0px 5px 5px #bababa;
  padding: 15px 20px;
  transition: box-shadow 200ms, filter 200ms;
}
.btn:hover {
  filter: brightness(1.1);
  cursor: pointer;
  transition: box-shadow 200ms, filter 200ms;
  box-shadow: 0 6px 3px #bababa;
}

.heart-icon {
  position: absolute;
  font-size: 1.6em;
  top: 20px;
  right: 20px;
}
.heart-icon:hover > .heart--empty {
  transition: opacity 1000ms ease;
  opacity: 0;
}
.heart-icon:hover > .heart--fill {
  transition: opacity 200ms;
  opacity: 1;
}

.heart-icon > .heart--fill {
  position: absolute;
  left: 50%;
  top: 1px;
  transform: translateX(-50%);
  background: linear-gradient(180deg, rgb(165, 105, 237) 0%, rgb(255, 121, 218) 90%);
  background-clip: text;
  -webkit-text-fill-color: transparent;
  opacity: 0;
  transition: opacity 200ms;
}

.lds {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  width: 100%;
  height: 100%;
  background: #FFF;
  opacity: 0.8;
  z-index: 1000;
  animation: 2s forwards fadeout;
}

.lds-large {
  position: absolute;
  width: 80px;
  height: 80px;
  border-radius: 50%;
  border: 6px solid #9356DC;
  border-color: #9356DC transparent #9356DC transparent;
  animation: 2s linear infinite reverse both lds;
}

.lds-medium {
  position: absolute;
  width: 60px;
  height: 60px;
  border-radius: 50%;
  border: 6px solid #99E2D0;
  border-color: #99E2D0 transparent #99E2D0 transparent;
  animation: 1.5s linear infinite both lds;
}

.lds-small {
  position: absolute;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 6px solid #FF79DA;
  border-color: #FF79DA transparent #FF79DA transparent;
  animation: 750ms linear infinite reverse both lds;
}

@keyframes lds {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
@keyframes fadeout {
  0% {
    opacity: 0.8;
  }
  80% {
    opacity: 0.8;
  }
  100% {
    opacity: 0;
    visibility: hidden;
  }
}
.delay1 {
  opacity: 0;
  animation-name: slide;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.17, 0, 0.95);
  animation-delay: 200ms;
}

.delay2 {
  opacity: 0;
  animation-name: slide;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.17, 0, 0.95);
  animation-delay: 400ms;
}

.delay3 {
  opacity: 0;
  animation-name: slide;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.17, 0, 0.95);
  animation-delay: 600ms;
}

.delay4 {
  opacity: 0;
  animation-name: slide;
  animation-duration: 1000ms;
  animation-fill-mode: both;
  animation-timing-function: cubic-bezier(0.25, 0.17, 0, 0.95);
  animation-delay: 800ms;
}

@keyframes slide {
  from {
    transform: translateY(20px);
    opacity: 0;
  }
  to {
    transform: translateY(0px);
    opacity: 1;
  }
}
.localisation {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #eaeaea;
  box-shadow: inset 0 2px 5px #bababa;
}
.localisation > i {
  margin-right: 10px;
}

.explore {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-bottom: 40px;
  background-color: #f6f6f6;
}
.explore__title {
  text-align: center;
  margin: 30px 20px 0;
}
.explore__text {
  text-align: center;
  margin: 20px;
}

.working {
  display: flex;
  flex-direction: column;
  width: 90%;
  margin: auto;
}
@media screen and (min-width: 1024px) {
  .working > ul {
    display: flex;
  }
}
.working__card {
  position: relative;
  width: 95%;
  display: flex;
  align-items: center;
  padding: 5px 0;
  margin: 0 auto 20px auto;
  border-radius: 1.2em;
  background-color: #f6f6f6;
  box-shadow: 0px 5px 5px #bababa;
  transition: background-color 300ms;
}
@media screen and (min-width: 1024px) {
  .working__card {
    width: 30%;
  }
}
.working__card:hover {
  box-shadow: 0 6px 3px #bababa;
  transition: box-shadow 300ms, background-color 300ms;
  background-color: #e4d5f6;
}
.working__card:hover > i {
  transition: color 200ms;
  color: #9356DC;
}
.working__card > p {
  transform: translateX(-50%);
  padding: 5px 10px;
  border-radius: 50%;
  color: white;
  background-color: #9356DC;
}
.working__card > i {
  font-size: 1.6em;
  margin-right: 15px;
  color: #7e7e7e;
}

.restaurants {
  width: 100%;
  margin: auto;
  padding: 20px 0 50px 0;
  background-color: #f6f6f6;
}
.restaurants > h2 {
  margin-left: 5%;
}

.card-container {
  display: flex;
  flex-direction: column;
}
@media screen and (min-width: 1024px) {
  .card-container {
    flex-direction: row;
    flex-wrap: wrap;
    width: 95%;
    margin: auto;
  }
}

.container {
  display: flex;
  flex-direction: column;
  height: 275px;
  width: 90%;
  margin: auto auto 20px auto;
  border-radius: 1em;
  box-shadow: 0px 5px 5px #bababa;
  transition: box-shadow 200ms;
}
.container:hover {
  box-shadow: 0 6px 3px #bababa;
  transition: box-shadow 200ms;
}
.container__img {
  position: relative;
}
.container__img > img {
  height: 200px;
  width: 100%;
  object-fit: cover;
  border-radius: 1em 1em 0 0;
}
.container__img > .badge {
  position: absolute;
  top: 20px;
  right: 20px;
  padding: 5px 10px;
  border-radius: 0.2em;
  color: #0e8f70;
  background-color: #99E2D0;
}
.container__body {
  position: relative;
  height: 75px;
}
.container__body__text > h3 {
  position: absolute;
  top: -10px;
  left: 10px;
}
.container__body__text > p {
  position: absolute;
  top: 20px;
  left: 10px;
}
@media screen and (min-width: 1024px) {
  .container {
    width: 45%;
  }
}

.banner {
  object-fit: cover;
  width: 100%;
  max-height: 30rem;
}
@media screen and (min-width: 600px) {
  .banner {
    min-height: 20rem;
  }
}

.menu {
  width: 100%;
  margin-top: -4em;
  padding-bottom: 30px;
  border-radius: 2em 2em 0 0;
  background-color: #f6f6f6;
  position: relative;
}
.menu__title {
  display: flex;
  align-items: center;
  position: relative;
  margin-left: 20px;
}
.menu__title > h2 {
  font-family: "Shrikhand", cursive;
  font-size: 1.7em;
  margin: 0.6em 0;
}
@media screen and (min-width: 1024px) {
  .menu {
    width: 95%;
    margin-left: 2.5%;
  }
}

@media screen and (min-width: 1024px) {
  .submenus-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

.submenus {
  position: relative;
  width: 95%;
  margin: 0 0 30px 10px;
}
@media screen and (min-width: 1024px) {
  .submenus {
    width: 32%;
  }
}

.submenu__type {
  position: relative;
  margin: 0 0 30px 10px;
}
.submenu__type::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -10px;
  height: 15px;
  width: 40px;
  border-bottom: 3px solid #99E2D0;
}

.submenu__card {
  display: flex;
  justify-content: space-between;
  margin: 10px 0 30px 0;
  background-color: #FFF;
  border-radius: 1em;
  overflow: hidden;
  box-shadow: 0px 5px 5px #bababa;
  transition: box-shadow 400ms ease-in-out;
}
@media screen and (min-width: 1024px) {
  .submenu__card {
    width: 95%;
  }
}
.submenu__card:hover > .validation-container {
  width: 80px;
  transition: 400ms ease-in-out;
}
.submenu__card:hover > .validation-container > .validation-icon {
  transform: rotate(360deg);
  transition: 400ms ease-in-out;
  margin-right: 0;
}
.submenu__card__content {
  width: 85%;
  white-space: nowrap;
  overflow: hidden;
}
.submenu__card__content > h3, .submenu__card__content p {
  text-overflow: ellipsis;
  overflow: hidden;
  margin: 10px 0px 10px 20px;
}
@media screen and (min-width: 1024px) {
  .submenu__card__content > p {
    font-size: 0.85em;
  }
}
.submenu__card__price {
  display: flex;
  align-items: flex-end;
  justify-content: flex-end;
  width: 15%;
  font-weight: 500;
  padding-left: 0.5em;
  margin: 0 20px 11px 0;
}
.submenu__card .validation-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 70px;
  width: 0;
  background-color: #99E2D0;
  border-radius: 0 1em 1em 0;
  transition: all 400ms ease-in-out;
}
.submenu__card .validation-icon {
  display: flex;
  padding: 4px 5px 4px 5px;
  border-radius: 2em;
  margin-right: -30px;
  background-color: #FFF;
  color: #99E2D0;
  transition: all 300ms ease-in-out;
}

.button {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

/*# sourceMappingURL=style.css.map */
