h1, h4{
    font-family: 'Shrikhand', cursive;
    font-size: 1.7em;
}

h2{
    font-family: 'Roboto', sans-serif;
    font-size: 1.7em;   
    font-weight: 500;
}

h3{
    font-family: 'Roboto', sans-serif;
    font-size: 1.1em;
    font-weight: 500;

}

.badge{
    font-weight: 500;
}