
// BUTTON
@mixin btn{
    border: none;
    border-radius: 2em;
    color: $btn-txt-clr;
    background: $grd
    
}

//SHADOW
@mixin box-shadow{
    box-shadow: 0px 5px 5px $shadow-clr;
}

@mixin box-shadow-hover{
    box-shadow: 0 6px 3px $shadow-clr;
}

//SLIDE MENU TRANSITION
@mixin slide-menu {
    opacity: 0;
    animation-name: slide;
    animation-duration: 1000ms;
    animation-fill-mode: both;
    animation-timing-function: cubic-bezier(.25,.17,0,.95)    
}