// COLORS
$color-primary: #9356DC;
$color-secondary: #FF79DA ;
$color-tertiary: #99E2D0;

$grd: linear-gradient(349deg, rgba(165,105,237,1) 0%, rgba(255,121,218,1) 100%);
$heart-grd: linear-gradient(180deg, rgba(165,105,237,1) 0%, rgba(255,121,218,1) 100%);

$badge-txt: #0e8f70;

$bg-color: #f6f6f6;
$i-clr: #7e7e7e;

$btn-txt-clr: #FFF;
$footer-txt-color: #FFF;

$shadow-clr: #bababa;

$footer-bg-clr: #353535;

// BORDER

$card-border-radius: 1em;
$card-img-border-radius: 1em 1em 0 0;

// TRANSITION DELAY

$animation-delay: 200ms;

//LOADING SPINNER SIZE
$lds-size: 80px;
